.player-overlay {
  backdrop-filter: blur(15px);
  position: fixed;
  bottom: 0;
  width: 100%;

  border: 1px solid var(--accent);

  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

.player-overlay.active {
  opacity: 1;
  transform: translateY(0);
}

.container {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 2fr) minmax(0, 1fr);
  align-items: center;
}

.time-progress {
  color: var(--light);
  font-weight: 500;
}

.cover {
  width: 50%;
  border-radius: 1rem;
  width: 5rem;
  height: 5rem;
}

.cover-container {
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-container {
  width: 50%;
  margin: 1rem;
  color: var(--light);

  /* white-space: nowrap;
  overflow: scroll;
  scrollbar-width: none; */
}

.controls-container {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.title {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 500;

  white-space: nowrap;
  overflow: scroll;
  scrollbar-width: none;
}

.artists {
  margin-top: 0.5rem;
}
