.trigger,
.content,
.item {
  --viewport-padding: 5px;
  --outer-radius: 0.6rem;
}

.trigger {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-radius: var(--outer-radius);
  padding: 0.5rem 1rem;
  line-height: 1;

  font-size: 1rem;

  gap: 0.5rem;
  background-color: var(--dark-alt);
  color: var(--light);
}
.trigger:hover {
  background-color: var(--dark);
}
.trigger:focus {
  box-shadow: 0 0 0 1px var(--accent);
}

.icon {
  color: var(--light);
}

.label {
  padding: 0 1rem;

  font-weight: 300;

  color: var(--light);
}

.content {
  overflow: hidden;
  background-color: var(--dark-alt);
  border-radius: var(--outer-radius);
  border: 1px solid var(--accent);
}

.viewport {
  padding: var(--viewport-padding);
}

.scroll-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  background-color: var(--dark);
  color: var(--accent);
  cursor: default;
}

.item {
  line-height: 1;
  color: var(--light);
  border-radius: calc(var(--outer-radius) - var(--viewport-padding));
  display: flex;
  align-items: center;

  padding: 0.5rem 1.5rem;
  position: relative;
  user-select: none;
}
.item[data-disabled] {
  color: var(--grey-light);
  pointer-events: none;
}
.item[data-highlighted] {
  outline: none;
  background-color: var(--accent);
  color: var(--dark);
  cursor: pointer;
}

.indicator {
  position: absolute;
  left: 0;
  width: 1.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.separator {
  height: 1px;
  background-color: var(--accent);
  margin: 0.5rem;
}
