.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: 100%;
}

.name-field.name-field {
  width: 50%;
  font-size: 1.5rem;
}

.labeled-field {
  color: var(--light);
  position: relative;

  display: flex;
  align-items: center;
  gap: 1rem;

  width: 100%;
}

.labeled-field h1 {
  margin: 0;
  margin-bottom: 0.5rem;
}

.title {
  width: 25%;
  text-align: right;
}

.labeled-field > label {
  width: 25%;
  text-align: end;

  overflow: scroll;
  scrollbar-width: none;
}

.field {
  width: 50%;
}

.cover-error-tip,
.field-error-tip {
  right: -11rem;
}

.cover-error-tip {
  top: 2rem;
}

.cover-container {
  position: relative;

  border-radius: 2rem;
  border: 1px dashed var(--light);

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--accent);

  cursor: pointer;

  width: 10rem;
  aspect-ratio: 1;
}

.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.remove-button {
  position: absolute;
  bottom: 0.5rem;
  right: 1rem;

  padding: 0.5rem;

  border-radius: 100%;

  background-color: inherit;
  color: var(--light);
}

.remove-button:hover {
  background-color: var(--dark-alt);
}

.track-row,
.add-track-button {
  border-radius: 1rem;
  border: 1px solid var(--dark-alt);

  box-shadow: 0 0 3px var(--dark-alt);
}

.add-track-button {
  width: 100%;
  padding: 0.5rem 0;

  background-color: var(--dark-alt);
  color: var(--light);

  gap: 1rem;
}

.relative {
  position: relative;
}
