@import "@radix-ui/colors/lime.css";
@import "@radix-ui/colors/red.css";
:root {
  --accent: var(--lime-8);
  --accent-light: var(--lime-6);

  --warning: var(--red-10);
  --success: var(--lime-9);
  --info: var(--light);

  --dark: #1d2123;
  --deep-dark: #0e1011;
  --dark-alt: #1a1e1f;
  --background-dark: #181a1b;

  --toast-background: var(--dark);
  
  --grey: #4f514f;
  --grey-light: #7c817c;

  --light: #efeee0;
}
