:root {
  --extra-footer-height: 8rem;
}

.extra-footer {
  height: calc(var(--extra-footer-height) + 1rem);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: min-content auto;

  background-color: var(--dark);
}

.navbar-container {
  height: 100vh;

  display: grid;
  grid-template-rows: 1fr 10fr;
}

.navbar {
  padding: 0 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.content {
  border-radius: 2rem;

  background-color: var(--background-dark);
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
