:root {
  --extra-footer-height: 8rem;
}

.extra-footer {
  height: var(--extra-footer-height);
}

.container {
  display: grid;
  grid-template-columns: min-content auto;

  background-color: var(--dark);
}

.navbar {
  height: 100vh;
  padding: 0 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  border-radius: 2rem;

  background-color: var(--background-dark);
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
