:root {
  --box-size: calc(1.6rem * 8);
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;

  padding: 1rem;
}

.cover-container {
  --item-size: var(--box-size);
  border-radius: 1rem;
  width: 100%;
  aspect-ratio: 1;
}

.cover {
  aspect-ratio: 1;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;

  cursor: pointer;
}

.release-link {
  all: unset;
  cursor: pointer;

  color: var(--light);
  font-weight: 500;
  font-size: 1.4em;
}

.artists-container {
  display: flex;
  width: 100%;
}

.artists {
  display: flex;
  width: 70%;
  color: var(--light);
}

.total-tracks {
  width: 30%;
  text-align: right;
  color: var(--light);

  display: flex;
  align-items: center;
  gap: 0.2rem;
  justify-content: flex-end;
}

.grid-container {
  all: unset;
  margin: auto;
  display: grid;
  grid-gap: 0.5rem;
  /* grid-template-columns: repeat(auto-fit, var(--box-size)); */
  grid-template-columns: repeat(auto-fit, var(--box-size));
  grid-auto-flow: dense;
  justify-content: center;
  max-width: 100%;
}

.card {
  all: unset;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.2) 50%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    var(--bg-image);

  border-radius: 1rem;
  width: 100%;
  aspect-ratio: 1;

  background-position: center;
  background-size: cover;

  display: flex;
  align-items: end;

  grid-row: auto / span 1;
  grid-column: auto / span 1;

  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.card:hover {
  box-shadow: 0 0 0 1px var(--accent);

  cursor: pointer;
}

.card-featured {
  grid-row: auto / span 3;
  grid-column: auto / span 2;
}

.card-doubled {
  grid-row: auto / span 2;
  grid-column: auto / span 2;

  font-size: 2rem;
}
.card-doubled .info-container {
  padding: 2rem;
}
.card-doubled .artists-container {
  gap: 0.4rem;
}

.card-vertical {
  grid-row: auto / span 2;
}

.card-horizontal {
  grid-column: auto / span 2;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.card-frameless {
  background-color: transparent;
  box-shadow: none;
}

@media (max-width: 413px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
  }
}

@media (min-width: 627px) {
  .grid-container {
    grid-gap: 1.6rem;
  }

  .card--featured {
    grid-row: auto / span 2;
    grid-column: 1 / -1;
  }
}
