.button {
  background-color: var(--accent);
  color: var(--dark);
  border-radius: 12px;
  display: inline-flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  font-weight: 500;
}

.button:hover {
  cursor: pointer;
}

.button:focus {
  box-shadow: 0 0 0 2px var(--dark-alt);
}
