.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: center;

  width: fit-content;
}

.dropzone-root {
  background-color: var(--dark-alt);
  border: 1px dashed var(--light);
  border-radius: 12px;

  min-height: 10rem;
  /* aspect-ratio: 8 / 3; */

  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.dropzone-text-container {
  margin: 4rem 3rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  color: var(--light);
}

.preview-button-container {
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 1rem;

  color: var(--light);
}

.preview-text {
  color: var(--accent-light);
  font-size: 0.8rem;
}

.preview-list {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remove-button {
  background-color: var(--dark);
  color: var(--light);
  border-radius: 6px;

  padding: 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.remove-button:hover {
  background-color: var(--dark-alt);
  cursor: pointer;
}

.error {
  color: var(--warning);
}
