.list {
  all: unset;

  width: 100%;

  box-sizing: border-box;

  display: grid;
  gap: 1rem;

  /* Define the number of columns based on available space */
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

.item {
  display: flex;
  align-items: end;
  border-radius: 2rem;

  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.2) 50%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    var(--bg-image-artist);

  width: 100%;

  max-width: 30rem;

  aspect-ratio: 4 / 3;

  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);

}

.item:hover {
  cursor: pointer;
  box-shadow: 0 0 0 1px var(--accent);
}

.title {
  color: var(--light);
  font-size: 2rem;
  margin: 0;
  font-weight: 500;

  overflow: scroll;
  scrollbar-width: none;
  white-space: nowrap;
}

.info {
  width: calc(100% - 2rem);
  margin: 0.5rem 1rem;
  display: flex;

  justify-content: space-between;
  align-items: center;
  gap: 0.2rem;
}

.icon {
  color: var(--light);
}
