@import "@radix-ui/colors/black-alpha.css";

.container {
  /* width: fit-content; */
  width: calc(100% - 1rem);

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;

  padding: 1rem 0.5rem;
  border-radius: 2rem;

  background-color: var(--dark-alt);
}

.item:hover {
  cursor: pointer;
}

.item {
  width: 2rem;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;

  white-space: nowrap;
  overflow: scroll;
  scrollbar-width: none;
}

.item > * {
  text-decoration: none;
  color: var(--grey);
}

.item > button {
  background-color: var(--dark-alt);
}
