.list {
  all: unset;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.item {
  all: unset;

  display: grid;
  align-items: center;
  grid-template-columns: auto auto 1fr;
  gap: 1rem;

  padding: 0.5rem 2rem;
  padding-left: 1rem;
  border-radius: 1rem;
  border: 1px solid transparent;

  color: var(--light);
  background-color: var(--dark-alt);
}

.item:hover {
  border: 1px solid var(--accent);
}

.duration {
  justify-self: end;
}

.flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.tag-container {
  display: flex;
  gap: 0.5rem;
  justify-content: start;
  align-items: center;
  overflow: scroll;
  scrollbar-width: none;
}

.tag {
  background-color: var(--dark);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.info {
  color: var(--light);
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.3rem;
  text-align: left;
  margin: 0;

  white-space: nowrap;
  overflow: scroll;
  scrollbar-width: none;
}

.artist-link {
  all: unset;
  cursor: pointer;
  color: var(--light);
  text-align: left;
}
.artist-link:hover {
  text-decoration: underline;
}

.artist-container {
  color: var(--light);
  display: flex;

  white-space: nowrap;
  overflow: scroll;
  scrollbar-width: none;
}

.play-button {
  border-radius: 999px;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--accent);
  color: var(--dark);
}
.play-button:hover {
  cursor: pointer;
  background-color: var(--accent-light);
}

.number {
  color: var(--grey);
  font-size: 1.4rem;
}
