.container {
  display: flex;
  flex-direction: column;

  justify-content: center;

  color: var(--light);
}

.form {
  display: grid;
  grid-template-rows: repeat(5, 1fr);

  align-items: center;

  gap: 1rem;
}

.labeled-field {
  display: grid;
  grid-template-columns: 2fr 3fr;
  align-items: center;
  justify-items: end;

  gap: 1rem;

  position: relative;
}

.labeled-field label {
  overflow: scroll;
  scrollbar-width: none;
}

.error {
  color: var(--warning);
  font-size: small;
}

.submit-container {
  display: flex;
  justify-content: end;
}

.error-tip-field {
  z-index: 1;
  right: -2rem;
}
