.container {
  display: flex;
  flex-direction: column;

  --alpha-dark-1: color-mix(in srgb, var(--dark), #0000 30%);
  --alpha-dark-2: color-mix(in srgb, var(--dark), #0000 20%);
  background-image: linear-gradient(
      to bottom,
      var(--alpha-dark-1) 0%,
      var(--alpha-dark-2) 100%
    ),
    var(--bg-image);

  background-size: cover;
  background-position: center;

  min-height: 100%;
}

.header-container {
  padding: 0 3rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.cover {
  object-fit: cover;
  border-radius: 2rem;
  height: 19rem;

  aspect-ratio: 1;
}

.cover-container {
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.track-container {
  padding: 1rem 3rem;
}

.title,
.artists {
  color: var(--light);
}

.title {
  font-size: 3rem;
}

.artists {
  font-size: 1.5rem;
  white-space: nowrap;
  overflow: scroll;
  scrollbar-width: none;
}

.info-container {
  color: var(--light);
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: start;
  gap: 1rem;
  
  min-width: 50%;
}

.info-container h1 {
  margin: 0;
}

.tracks-info {
  display: flex;
  flex-direction: column;
  align-items: end;

  align-self: flex-end;
}

.info {
  text-align: right;

  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.header-bottom {
  display: flex;
  justify-content: space-between;

  gap: 1rem;

  width: 100%;
}

.play-button {
  background-color: rgba(0, 0, 0, 0.1);

  cursor: pointer;
  width: 5rem;
  padding: 0.5rem;

  border-radius: 1rem;
  border: 1px solid var(--accent);

  display: flex;
  align-items: center;
  justify-content: start;

  color: var(--accent);
}

.play-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.edit-button {
  gap: 0.5rem;
}

.release-date {
  font-weight: 200;
  font-size: 0.9rem;
}
