:root {
  --border: 1px;
  --edge: 1rem;
  --stroke: var(--accent);
  --bg: var(--dark-alt);
}

.square {
  width: var(--size);
  height: var(--size);
}

.center {
  color: var(--light);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.k-container-body {
  position: relative;
  background-color: var(--dark);
  /* border: var(--border) solid var(--stroke); */
  border-radius: 2rem;
  width: 36rem;
  height: 24rem;
  perspective: 63rem;
  padding: var(--edge);

  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.k-screw {
  position: absolute;
  display: inline-block;

  background-color: var(--dark-alt);
  /* border: var(--border) solid var(--deep-dark); */
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
}

.k-screw:before,
.k-screw:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--deep-dark);
  height: 70%;
  width: 2px;
}

.k-screw:before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.k-screw:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.k-screw.top-left {
  top: var(--edge);
  left: var(--edge);
}

.k-screw.top-right {
  top: var(--edge);
  right: var(--edge);
}

.k-screw.bottom-left {
  bottom: var(--edge);
  left: var(--edge);
}

.k-screw.bottom-right {
  bottom: var(--edge);
  right: var(--edge);
}

.k-centerreel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--dark-alt);

  border-radius: 3rem;
  width: 18rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  padding: 0.625rem;
}

.k-centerreel .reel {
  position: relative;
  display: inline-block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.k-centerreel .reel:before {
  content: "";
  display: inline-block;
  width: 82%;
  height: 82%;
  border: 5px dashed var(--stroke); /* 6px */
  border-radius: 100%;
  transform-origin: center;
  animation: spin 3s linear infinite;
}

.k-centerreel .reel.left {
  float: left;
}

.k-centerreel .reel.right {
  float: right;
}

.k-centerreel .center-tape {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--background-dark);
  border: var(--border) solid var(--dark);
  height: 70%;
  width: 6rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.k-centerreel .center-tape:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -50%;
  transform: translateY(-50%);
  background-color: var(--dark);
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  animation: shift-left 1.3s ease-in-out alternate infinite;
}

.k-centerreel .center-tape:after {
  content: "";
  position: absolute;
  top: 50%;
  right: -6rem;
  transform: translateY(-50%);
  background-color: var(--dark);
  border-radius: 50%;
  width: 6.25rem;
  height: 6.25rem;
  animation: shiftRight 1s ease-in-out alternate infinite;
}

.k-label {
  margin: 0;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--dark-alt);
  /* border: var(--border) solid var(--stroke); */
  border-radius: 0.5rem;
  max-width: 25rem;
  width: 100%;
  height: 3.5rem;
  padding: 0 1.25rem;
  overflow: hidden;
}

.k-label:before {
  content: "";
  position: absolute;
  bottom: 1.85ex;
  left: 0;
  right: 0;
  height: 2.5ex;
  border-top: var(--border) dashed var(--stroke);
  border-bottom: var(--border) dashed var(--stroke);
  z-index: -1;
}

.k-label h1 {
  font-family: "Permanent Marker", cursive;
  margin: 0;
}

.k-label h1.center {
  text-align: center;
}

.k-chin {
  position: absolute;
  left: 50%;
  bottom: -0.625rem;
  transform: translateX(-50%) rotateX(45deg);
  transform-origin: bottom center;
  max-width: 25rem;
  width: 100%;
  height: 10rem;
  border-radius: 1rem;
  background-color: var(--dark-alt);
}

.k-chin:after {
  content: "";
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--stroke);
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
}

.k-chin .holes {
  position: absolute;
  display: inline-block;

  background-color: var(--dark);
  /* border: var(--border) solid var(--stroke); */
  border-radius: 50%;
}

.k-chin .holes:nth-child(1) {
  width: 1.875rem;
  height: 1.875rem;
  bottom: var(--edge);
  left: calc(var(--edge) + 1.875rem);
}

.k-chin .holes:nth-child(2) {
  width: 1.25rem;
  height: 1.25rem;
  bottom: calc(var(--edge) + 1.875rem);
  left: calc(var(--edge) + 4.375rem);
}

.k-chin .holes:nth-child(3) {
  width: 1.25rem;
  height: 1.25rem;
  bottom: calc(var(--edge) + 1.875rem);
  right: calc(var(--edge) + 4.375rem);
}

.k-chin .holes:nth-child(4) {
  width: 1.875rem;
  height: 1.875rem;
  bottom: var(--edge);
  right: calc(var(--edge) + 1.875rem);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes shift-left {
  0% {
    left: -50%;
  }
  100% {
    left: -53%;
  }
}

@keyframes shiftRight {
  0% {
    right: -95%;
  }
  100% {
    right: -93%;
  }
}
