.container {
  display: grid;
  flex-direction: column;

  padding: 2rem;
  border-radius: 1rem;

  color: var(--light);
}

.container > h1 {
  margin-top: 0;
}

.form {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;

  align-items: center;
  justify-items: end;
}

.field-container {
  display: flex;
  flex-direction: column;
}

.error {
  color: var(--warning);
  font-size: small;
}

.submit-container {
  grid-row: 3;
  grid-column: 2;
  display: flex;
  justify-content: space-between;

  gap: 2rem;
}
