.background {
  width: 100%;
  aspect-ratio: 30 / 9;

  display: flex;
  align-items: flex-end;

  color: var(--light);

  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    var(--bg-image);

  position: relative;
}

.container {
  padding: 2rem;
}

.loader {
  height: 30vh;
}

.title {
  font-size: 2rem;
  color: var(--light);
}

.tabs-container {
  padding: 1rem;
}

.tabs-list {
  display: flex;
}

.tabs-trigger {
  color: var(--accent);
  background-color: var(--dark);

  padding: 0.5rem 0.5rem;

  display: flex;
  flex: 1 1 0px;
  align-items: center;
  justify-content: center;

  border: 1px solid transparent;

  cursor: pointer;
}
.tabs-trigger:first-child {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.tabs-trigger:last-child {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.tabs-trigger:hover {
  border: 1px solid var(--accent);
}
.tabs-trigger:focus {
  position: relative;
  border: 1px solid var(--accent);
}

.info {
  display: flex;
  align-items: center;
  justify-content: end;

  font-size: 2rem;
  gap: 0.5rem;
}

.info-container {
  padding: 0 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.disabled {
  cursor: not-allowed;
}

.disabled:hover {
  box-shadow: none;
}

.user-wrapper {
  position: absolute;
  top: 1rem;
  right: 1rem;

  width: fit-content;

  background-color: var(--dark);
  border-radius: 20rem;

  display: grid;
  grid-template-areas:
    "a a c c c"
    "a a u u u";
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  gap: 0.5rem;
}

.created-by {
  grid-area: c;

  color: var(--light);
  font-weight: 600;
  align-self: start;
  margin-top: 0.5rem;
}

.username {
  grid-area: u;

  color: var(--light);
  text-align: left;

  overflow: scroll;
  scrollbar-width: none;
  white-space: nowrap;

  max-width: 5rem;
}

.avatar-root {
  grid-area: a;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  overflow: hidden;
  user-select: none;
  height: 5rem;
  width: 5rem;
  border-radius: 100%;

  background-color: var(--dark-alt);
}

.avatar-fallback {
  cursor: pointer;

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--grey);
  color: var(--light);
  font-size: 3rem;
}

.avatar-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;

  cursor: pointer;
}

.creator-button-container {
  /* background-color: var(--dark); */

  max-width: 50%;

  border-radius: 2rem;

  display: flex;
  align-items: center;
  gap: 2rem;
  /* justify-content: center; */
}

.create-button {
  padding: 2rem;
  border-radius: 100%;

  font-style: 2rem;
}

.create-button:hover {
  background-color: var(--accent-light);
}

.edit-button {
  background-color: var(--dark-alt);
  border: 1px solid var(--accent);
  color: var(--accent);
}

.edit-button:hover {
  color: var(--accent-light);
}

.release-list-container {
  background-color: var(--dark);
  border-radius: 2rem;
  padding: 1rem;
}
