.background {
  width: 100%;
  aspect-ratio: 30 / 9;

  display: flex;
  align-items: flex-end;

  color: var(--light);

  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    var(--bg-image);
}

.loader {
  height: 30vh;
}

.title {
  font-size: 2rem;
  color: var(--light);
}

.tabs-container {
  padding: 1rem;
}

.tabs-list {
  display: flex;
}

.tabs-trigger {
  color: var(--accent);
  background-color: var(--dark-alt);

  padding: 0.5rem 0.5rem;

  display: flex;
  flex: 1 1 0px;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}
.tabs-trigger:first-child {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.tabs-trigger:last-child {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.tabs-trigger:hover {
  box-shadow: 0 0 0 2px var(--accent);
}
.tabs-trigger:focus {
  position: relative;
  box-shadow: 0 0 0 2px var(--accent);
}

.info {
  display: flex;
  align-items: center;
  justify-content: end;

  font-size: 2rem;
  gap: 0.5rem;
}

.info-container {
  padding: 0 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.disabled {
  cursor: not-allowed;
}

.disabled:hover {
  box-shadow: none;
}
